.profile {
  padding: 20px 0;

  &__info {
    &-name {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 24px;
      font-weight: bold;

      > button {
        background: transparent;
        border: transparent;

        color: #7c7c7c;

        transition: .3s ease;

        &:hover {
          color: dodgerblue;
        }

        > span {
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }

    &-birthday {
      margin-bottom: 10px;
      font-size: 18px;
      color: #6b6b6b;
    }

    &-status {
      margin: 10px 0;
      color: #7c7c7c;
    }

    &-status.online {
      color: #4ca6ff;
    }
  }
}

.notification {
  &:after {
    content: "3";
    font-weight: 30px;
  }
}
